/*.App {
  text-align: center;
}*/

@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Jomhuria|Patua+One);

html {
  height: 100%;
}

* {
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.login {
  background: url('https://i.imgur.com/2ql0NjQ.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.form-wrapper {
  width: 400px;
  height: 400px;
  margin: 70px auto;
  }
  .form-box {
    width: 400px;
  	margin: 17% auto;
  	position: relative;
  	border-radius: 5px;
    }
    .form-box h1 {
      font-family: 'Patua One', cursive;
    	font-weight: 400;
    	font-size: 50px;
      padding: 40px 30px 10px 30px;
      line-height: 34px;
      color: white;
    }
    .form-box .content {
      padding: 0 30px 25px 30px;
      }
      .form-box .content input {
        width: 285px;
        padding: 15px 25px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #9d9e9e;
        border-radius: 5px;
        margin-top: 10px;
        transition-property: color background;
        transition-duration: 0.3s;
      }
      .form-box .content input:hover {
        background: #dfe9ec;
        color: #414848;
      }
      .form-box .content input:focus {
        background: #dfe9ec;
        color: #414848;
      }
    .form-box .form-footer {
      padding: 0px 30px 40px 30px;
	    overflow: auto;
      }
      .form-box .form-footer .login-button {
        float: left;
        padding: 11px 50px;
        font-family: 'Patua One', cursive;
        font-weight: 300;
        font-size: 18px;
        color: #46b3d3;
        /*background: #56c2e1;*/
        background: transparent;
      	border: 3px solid #46b3d3;
      	border-radius: 5px;
      	cursor: pointer;
        transition-property: color background;
        transition-duration: 0.3s;
        }
        .form-box .form-footer .login-button:hover {
          background: #46b3d3;
          color: #fff;
        }
      .form-box .form-footer .signup-button {
        float: right;
        padding: 11px 50px;
        font-family: 'Patua One', cursive;
        font-weight: 300;
        font-size: 18px;
        color: #4BA046;
        background: transparent;
      	border: 3px solid #4BA046;
      	border-radius: 5px;
      	cursor: pointer;
        transition-property: color background;
        transition-duration: 0.3s;
        }
        .form-box .form-footer .signup-button:hover {
          background: #4BA046;
          color: #fff
      }
      .form-box .form-footer .signup-submit {
        float: left;
        padding: 11px 50px;
        font-family: 'Patua One', cursive;
        font-weight: 300;
        font-size: 18px;
        color: #4BA046;
        background: transparent;
      	border: 3px solid #4BA046;
      	border-radius: 5px;
      	cursor: pointer;
        transition-property: color background;
        transition-duration: 0.3s;
        }
        .form-box .form-footer .signup-submit:hover {
          background: #4BA046;
          color: #fff
        }
      .form-box .form-footer .back-login {
        float: right;
        padding: 11px 50px;
        font-family: 'Patua One', cursive;
        font-weight: 300;
        font-size: 18px;
        color: #46b3d3;
        /*background: #56c2e1;*/
        background: transparent;
      	border: 3px solid #46b3d3;
      	border-radius: 5px;
      	cursor: pointer;
        transition-property: color background;
        transition-duration: 0.3s;
        }
        .form-box .form-footer .back-login:hover {
          background: #46b3d3;
          color: #fff;
        }

.wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-rows: minmax(30px, 830px);
  height: 100%;
}

.list {
  grid-column: 1;
  }
  .list div {
    padding: 14px 20px 8px 20px;
    /*border-bottom: 2px solid rgba(236, 236, 236, 1);*/
    transition-property: background;
    transition-duration: 0.5s;
  }
  .list div:hover {
    background: rgba(236, 236, 236, 1);
  }
  .list h3 {
    color: #a1a1a1;
    font-size: 20px;
    line-height: 15px;
    display: inline-block;
    padding-bottom: 10px;
  }
  .list p {
    color: rgba(161, 161, 161, 0.7);
    font-size: 14px;
    font-style: italic;
  }
  .list img {
    width: 48px;
    height: 48px;
    border-radius: 25px;
  }
  .list, div.username {
    display: inline-block;
    border: hidden;
  }

/*div.highlighted {
  background: rgba(236, 236, 236, 1);
}*/

div.list-header {
  padding: 20px 20px 18px 20px;
  background: #6294c2;
  color: #fff;
  }
  .list-header h2 {
    font-size: 16px;
    line-height: 15px;
    display: inline-block;
  }

.container {
  width: auto;
  grid-column: 2;
  height: 100%;
  /*display: block;*/
  /*margin: 0 auto;*/
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.4);*/
}

.header {
  padding: 20px 20px 18px 20px;
  background: #5FB471;
  color: #fff;
  }
  .header h2 {
    font-size: 16px;
    line-height: 15px;
    display: inline-block;
  }
  .header a {
    display: inline-block;
    float: right;
    background: #3d8b4e;
    font-size: 25px;
    line-height: 20px;
    padding: 3px 6px;
    margin-top: -5px;
    border-radius: 2px;
  }
  .header input {
    display: inline-block;
    width: 100px;
    padding: 15px 25px;
    float: right;
    color: #3d8b4e;
    font-size: 18px;
    line-height: 20px;
    padding: 3px 6px;
    margin-top: -5px;
    border-radius: 2px;
  }

.chat-box {
  height: 112%;
  }
  .chat-box, .enter-message {
    background: #ECECEC;
    padding: 0 20px;
    color: #a1a1a1;
    z-index: -2;
  }
  .chat-box .message-box {
    padding: 18px 0 10px;
    clear: both;
  }

.message-box .picture {
  float: left;
  width: 50px;
  display: block;
  padding-right: 10px;
  }
  .picture img {
    width: 43px;
    height: 48px;
    border-radius: 5px;
  }
  .picture span {
    font-weight: bold;
    font-size: 12px;
    clear: both;
    display: block;
    text-align: center;
    margin-top: 3px;
  }

.message {
  background: #fff;
  display: inline-block;
  padding: 13px;
  width: 78%;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position: relative;
  }
  .message:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    border-right: 6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 10px;
    margin-left: -6px;
  }
  .message span {
    color: #555;
    font-weight: bold;
  }
  .message p {
    padding-top: 5px;
  }
  .message-box.right-img .picture {
    float: right;
    padding: 0;
    padding-left: 10px;
  }
  .message-box.right-img .picture img {
    float: right;
  }
  .message-box.right-img .message:before {
    left: 100%;
    margin-right: 6px;
    margin-left: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }

.enter-message {
  padding: 13px 0px;
  position: absolute;
  width: 31%;
  bottom: 10px;
  z-index: 0;
  }
  .enter-message input {
    border: none;
    padding: 10px 12px;
    background: #d3d3d3;
    width: 75%;
    border-radius: 2px;
  }
  .enter-message a.send {
    padding: 10px 27px;
    background: #6294c2;
    border-radius: 2px;
    float: right;
    margin-left: 3%;
  }

.profile-wrapper {
  grid-column: 3;
  }
  .profile-wrapper img {
    width: 50%;
    border-radius: 25%;
    margin-top: 15%;
    margin-left: 25%;
  }
  .profile-wrapper h1 {
    color: #888888;
    font-size: 34px;
    line-height: 15px;
    margin-top: 5%;
    margin-left: 30%;
  }
  .profile-wrapper p {
    color: #888888;
    font-size: 18px;
    font-style: italic;
    margin-top: 5%;
    margin-left: 45%;
  }

div.profile-header {
  padding: 20px 20px 18px 20px;
  background: #6294c2;
  color: #fff;
  }
  .profile-header h2 {
    font-size: 16px;
    line-height: 15px;
    display: inline-block;
  }
